@model Ocuda.Ops.Controllers.Areas.Events.ViewModels.IndexViewModel

<div class="d-flex justify-content-between mb-2">
    <h1>
        Events
    </h1>
    <div class="pt-2">
        <a class="btn btn-outline-dark"
           asp-controller="@Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Name"
           asp-action="@(nameof(Ocuda.Ops.Controllers.Areas.SiteManagement.HomeController.Index))">Back</a>
    </div>
</div>

@if (Model.ScheduledEvents?.Count > 0)
{
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Published</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var scheduledEvent in Model.ScheduledEvents)
            {
                <tr>
                    <td>@scheduledEvent.Title</td>
                    <td>
                        @if (scheduledEvent.IsPublished)
                        {
                            <span class="fa-regular fa-circle-check text-success"></span>
                        }
                        else
                        {
                            <span class="fa-regular fa-circle-xmark"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav paginate="@Model"></nav>
}
else
{
    <div class="row">
        <div class="col">
            <div class="alert alert-warning">No events found.</div>
        </div>
    </div>
}

@section scripts {
}