@model Ocuda.Ops.Controllers.Areas.Reporting.ViewModel.ImportViewModel

<partial name="_ReportingPartial" model="Model" />

<form asp-action="@nameof(HomeController.Import)"
      enctype="multipart/form-data"
      method="post">
    <input type="hidden" name="reportId" value="@Model.Report.Id" />
    <div class="row mt-4">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">Import data</div>
                <div class="card-body">
                    <div class="mb-2">
                        @if (Model.Report.Period == Ocuda.Ops.Models.Definitions.Models.ReportDefinitionPeriod.Monthly)
                        {
                            <label asp-for="DataDate"></label>
                            <input asp-for="DataDate" class="form-control" type="date" />
                        }
                        else
                        {
                            <div class="alert alert-danger">
                                Unknown reporting period, cannot import.
                            </div>
                        }
                    </div>
                    <div class="mb-2">
                        <label asp-for="DataFile"></label>
                        <input accept="@string.Join(',', Model.Report.ImportFileTypes)"
                               asp-for="DataFile"
                               class="form-control"
                               type="file">
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <button button-spinner
                            class="btn btn-sm btn-outline-primary"
                            type="submit">
                        Upload Data
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>