@model Ocuda.Ops.Controllers.Areas.Reporting.ViewModel.ResultsViewModel

<partial name="_ReportingPartial" model="Model" />

<table class="table table-bordered table-hover table-sm table-striped">
    <thead>
        <tr>
            <th>Location</th>
            <th>Circulations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model.Results.ReportingLocationSet.ReportingLocations.OrderBy(_ => _.Name))
        {
            <tr>
                <td>@location.Name</td>
                <td>@Model.Results.ReportingImportData.SingleOrDefault(_ => _.LocationId == location.LocationId)?.ReportValue</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th>@Model.Results.ReportingImportData.Sum(_ => _.ReportValue)</th>
        </tr>
    </tfoot>
</table>