@model Ocuda.Ops.Controllers.Areas.Reporting.ViewModel.ReportingViewModelBase

<div class="d-flex justify-content-between">
    <h1>
        @Model.Heading
        @if (!string.IsNullOrEmpty(Model.SecondaryHeading))
        {
            <small class="text-muted">@Model.SecondaryHeading</small>
        }
    </h1>
    <div class="pt-2">
        @if (!Model.IsIndex)
        {
            <a class="btn btn-outline-dark ms-2"
               asp-area=""
               asp-controller="@Ocuda.Ops.Controllers.HomeController.Name"
               asp-action="@nameof(Ocuda.Ops.Controllers.HomeController.Index)">Back</a>
        }
    </div>
</div>
